:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 77%, 40%);
}

$bp-medium: 43.75em;
$bp-small: 20.625em;
$bp-very-small: 16.25em;

html {
  @media screen and (max-width: $bp-small) {
    font-size: 13px;
  }

  @media screen and (max-width: $bp-very-small) {
    font-size: 10px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Space Mono", monospace;
  background-color: var(--light-grayish-cyan);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  justify-content: center;
}

.logo {
  margin: 2rem 0;

  @media screen and (min-width: $bp-medium) {
    margin: 4rem 0;
  }

  img {
    margin: auto;
  }
}

.calculator {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 20px;
  gap: 2rem;
  max-width: 30rem;
  margin: 0 auto;
  box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.1);

  @media screen and (min-width: $bp-medium) {
    grid-template-columns: 1fr 1fr;
    max-width: 50rem;
  }
}

.footer {
  margin-top: auto;
  padding: 1rem;
}
